<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>angular || icheck directive</title>

    <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="js/angular-1.2.22.js"></script>
    <script type="text/javascript" src="js/bootstrap-3.2.0.js"></script>
    <script type="text/javascript" src="js/icheck-2.0.rc1.js"></script>
    <!-- load the icheck directive for angular -->
    <script type="text/javascript" src="js/directives/ui-check.js"></script>

    <!-- load twitter bootstrap just so we can do other styling if we want -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <!--
        load the blue square style for icheck.
        If you use a different style, you have to change it in the ui.check directive.
        I have not discovered a way to counteract this, yet.
    -->
    <link rel="stylesheet" href="css/check.css" />

    <!-- create an angular application to test icheck with -->
    <script type="text/javascript">
        (function() {
            var app = angular.module('app', ['ui.check']);

            app.controller("HomeController", function($scope){
                $scope.check = {
                    a: false,
                    b: true
                };

                $scope.radio = {
                    value: "b"
                }
            });
        })();
    </script>
</head>
<body ng-app="app" class="container" ng-controller="HomeController">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <h2>Check Boxes</h2>
                <hr />
                <div>
                    <label>
                        <input icheck type="checkbox"
                               ng-model="check.a" />
                        <span class="h4">Check Box Label</span>
                    </label>
                    <p>
                        This uses a &lt;span&gt; tag for the label, with the whole control fitted inside an actual
                        &lt;label&gt; tag. That can be optional if configured with CSS
                    </p>
                    <h4>
                        Status: {{ check.a }}
                    </h4>
                </div>
                <hr />
                <div>
                    <input icheck id="checkbox" type="checkbox"
                           ng-model="check.b" />
                    <label for="checkbox">Check Box Label</label>
                    <p>
                        This uses the natural &lt;label&gt; tag for a label.
                    </p>
                    <h4>
                        Status: {{ check.b }}
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <h2>Radio Buttons</h2>
                <hr />
                <div>
                    <label>
                        <input icheck type="radio"
                               name="iCheck"
                               ng-model="radio.value"
                               value='a' />
                        <span class="h4">Radio Button Label</span>
                    </label>
                    <p>
                        This uses a &lt;span&gt; tag for the label, with the whole control fitted inside an actual
                        &lt;label&gt; tag. That can be optional if configured with CSS
                    </p>
                    <h4>
                        Status: {{ radio }}
                    </h4>
                </div>
                <div>
                    <input icheck type="radio"
                           id="radio"
                           name="iCheck"
                           ng-model="radio.value"
                           value='b' />
                    <label for="radio">Radio Button Label</label>
                    <p>
                        This uses the natural &lt;label&gt; tag for a label.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>