<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>angular || icheck directive</title>

    <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="js/angular-1.2.22.js"></script>
    <script type="text/javascript" src="js/bootstrap-3.2.0.js"></script>
    <script type="text/javascript" src="js/icheck-2.0.rc1.js"></script>
    <script type="text/javascript" src="js/directives/ui-check.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/check.css" />

    <script type="text/javascript">
        (function() {
            var app = angular.module('app', ['ui.check']);
        })();
    </script>
    <style>
        body { padding-top: 45px; }
        .faded { color: #bbb; }
        label { padding: 12px; }
        label:last-child { margin-bottom: 0; }
    </style>
</head>
<body ng-app="app" class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row well well-sm">
                <div class="col-md-6">
                    <div>
                        <label>
                            <input icheck type="radio" ng-model="foo" name="radio" value="x" name="a"/>
                            <input icheck type="radio" ng-model="foo" name="radio" value="y" name="a"/>
                            <input icheck type="radio" ng-model="foo" name="radio" value="x" name="b"/>
                            <input icheck type="radio" ng-model="foo" name="radio" value="y" name="b"/>
                            My Radio: {{ foo }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
